h2 { font-size: 18px; padding-bottom: 10px; }
span:empty { display: none; }
select { background-position: right 3px center; }
textarea { border-top-width: 1px !important; }
.o_form_label.o_form_label_readonly { opacity: 1 !important; font-weight: 500 !important; font-size: 14px; }
.o_inner_group .o_field_widget { width: 100%; color: black; font-size: 14px; }
.o_input { background-color: rgba(11, 83, 148, 0.00); border: 1px solid rgba(11, 83, 148, 0.2); border-radius: 2px; }
.o_input:not(:hover):not(:focus) { color: black; background-color: rgba(11, 83, 148, 0.05); font-size: 14px; }
.o_form_view .o_form_label { color: black; font-weight: 500; font-size: 14px; width: fit-content; min-width: 220px; }
.separator { margin-top: 20px; margin-bottom: 20px; border: none; border-top: 1px solid #ccc; }
.separator-invisible { margin-top: 20px; margin-bottom: 20px; border: none; border-top: 1px solid transparent; }
.o_form_label { white-space: nowrap; }
.o_field_widget { padding-right: 5px; font-size: 14px; color: black; }
.o_radio_item { display: inline-block; }
.nowrap { white-space: nowrap; }
.o_dropdown_button { visibility: visible !important; }
.o_form_view .o_form_sheet_bg { width: 100% !important; max-width: 100% !important; }
.o_form_sheet { margin: 0 auto 10px !important; max-width: 1200px !important; width: 100%; }
.o_form_view .o_form_sheet_bg { margin: 0 auto !important; max-width: 100% !important; }
.btn { margin: 0 3px; }
.custom-loading-overlay { position: fixed; z-index: 9999; height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.8); display: flex; align-items: center; justify-content: center; }
.custom-loading-spinner { border: 4px solid rgba(11, 83, 148, 0.5); border-radius: 50%; border-top: 4px solid rgb(11, 83, 148); width: 40px; height: 40px; animation: spin 1s linear infinite; }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
.btn-outline-danger { color: #990000 !important; border-color: #990000 !important; }
.btn-outline-danger:hover, .btn-outline-danger:focus { color: #fff !important; background-color: #990000 !important; border-color: #990000 !important; }
th { background-color: rgb(243, 246, 250) !important; border: 1px solid rgb(243, 246, 250); }
.custom-table { border: 0.1px solid rgba(11, 83, 148, 0.2); width: 100%; border-collapse: collapse; }
.custom-table th, .custom-table td { padding: 8px; border: 0.1px solid rgba(11, 83, 148, 0.2); text-align: left; }
.custom-table th { font-weight: bold; text-align: center; background-color: rgba(11, 83, 148, 0.2); }
.custom-table tr:nth-child(even) { background-color: rgba(11, 83, 148, 0.05); }
.custom-table tr:last-child { font-weight: bold; }
.custom-table td:last-child { text-align: right; }
.container_footer { background-color: transparent; height: 200px; opacity: 0; animation: fadeIn 0.5s ease forwards; animation-delay: 10ms; }
.footer { text-align: center; color: #0b5394; }

.o_list_renderer .o_list_table thead { background-color: transparent !important; color: #495057; }
th[data-name="unit"] { max-width: 400px; }
th[data-name="unit_quantity"] { max-width: 100px; }
th[data-name="unit_price"] { max-width: 100px; }
th[data-name="total_price"] { max-width: 100px; }
th[data-name="vat_rate"] { max-width: 50px; }
th[data-name="vat_amount"] { max-width: 100px; }

.tooltip-button {
	position: relative;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.tooltip-button .custom-tooltip {
    display: block !important;
	visibility: hidden;
	opacity: 0;
	background-color: #fff;
	color: rgba(7, 56, 101, 0.85);
	text-align: center;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.3px;
	white-space: nowrap;
	position: absolute;
	top: 100%;
	bottom: auto;
	left: 50%;
	transform: translate(-100%, 8px);
	transition: opacity 0.2s ease;
	z-index: 999999;
	border: 1px solid rgba(7, 56, 101, 0.2);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.tooltip-button:hover .custom-tooltip {
	visibility: visible;
	opacity: 1;
}
.tooltip-button:active .custom-tooltip,
.tooltip-button:focus .custom-tooltip {
	visibility: hidden;
	opacity: 0;
}
