/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&subset=cyrillic&display=swap');

body {
	font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h1 {
	font-size: 16px;
	font-weight: 500 !important;
	margin: 0mm auto !important;
    padding: 0 !important;
}

p, span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px !important;
    line-height: 1.2 !important;
    margin: 0;
    padding: 0;
}

table {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    line-height: 1.2;
}

table tr td {
	border: 0px solid transparent;
	padding: 5px;
    vertical-align: top;
}

.tb_subtitle {
    font-size: 13px;
	font-weight: bold;
	padding-right: 10px;
	border-right: 1px solid black !important;
}

.tb_txt {
	padding-left: 10px;
}

.tb_chapter {
	padding: 10px 0;
}

.doctorperf {
	margin: 50px 0 0 200px;
}

.page-break-after {
	page-break-after: always;
}

.logo-container {
    position: absolute;
    top: -90px;
    right: 0px;
    z-index: 1000;
}

.logo-container img {
    height: 50px;
    width: auto;
}

.bordered {
    border: 0.1px solid black !important;
}

@page {
	size: A4;
	margin: 30mm 10mm 15mm 10mm;
	padding: 5mm 0;
	background: white;
	color: black;

	@top-left-corner {
		content: "";
		text-align: center;
	}

	@top-left {
		content: "";
		text-align: left;
	}
	@top-center {
		content: "";
		text-align: center;
	}
	@top-right-corner {
		content: "";
		text-align: center;
	}
	@left-top {
		content: "";
		text-align: center;
	}
    @top-right {
        content: "";
    }
	@left-middle {
		content: "";
		text-align: center;
	}
	@left-bottom {
		content: "";
		text-align: center;
	}
	@bottom-left-corner {
		content: "";
		text-align: center;
	}
	@bottom-left {
		content: "";
		text-align: left;
		vertical-align: top;
		padding-top: 10px;
	}
	@bottom-center {
		content: "";
		text-align: center;
		vertical-align: top;
		padding-top: 10px;
	}
	@bottom-right {
		content: "страница " counter(page) " от " counter(pages);
		text-align: right;
		vertical-align: top;
		padding-top: 10px;
        font-size: 10px;
        font-family: Roboto Condensed;
	}
	@bottom-right-corner {
		content: "";
		text-align: center;
	}
	@right-middle {
		content: "";
		text-align: center;
	}
	@right-bottom {
		content: "";
		text-align: center;
	}
}
