body {
    background-color: #cfe2f3;
    background-image: url('/trinity_file_assets/static/src/img/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

.bg-100 {
    background-color: #cfe2f3 !important;
    color: #000000;
}

.text-center.pb-3.border-bottom.mb-4 {
    display: none;
}
