h2 {
	font-size: 18px;
}

span:empty {
	display: none;
}

select {
    background-position: right 3px center;
}

textarea {
    border-top-width: 1px !important;
}

.accordion {
    padding: 0px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    padding: 5px 10px;
}

.o_form_label.o_form_label_readonly {
	opacity: 1 !important;
	font-weight: 500 !important;
	font-size: 14px
}

.o_inner_group .o_field_widget {
	width: 100%;
	color: black;
	font-weight: 500;
	font-size: 14px
}

.o_input {
	background-color: rgba(11, 83, 148, 0.00);
	border: 1px solid rgba(11, 83, 148, 0.2);
	border-radius: 2px;
}

.o_input:not(:hover):not(:focus) {
	color: black;
	background-color: rgba(11, 83, 148, 0.05);
	font-size: 14px
}

.o_form_view .o_form_label {
	color: black;
	font-weight: 500;
	font-size: 14px;
	width: 220px
}

.separator {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
}

.o_form_label {
	white-space: nowrap;
}

.container {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px
}

.o_field_widget {
	padding-right: 5px;
	font-size: 14px;
	font-weight: 500;
	color: black
}

.o_radio_item {
	display: inline-block
}

.nowrap {
	white-space: nowrap;
}

.o_dropdown_button {
	visibility: visible !important
}

@media (max-width: 1200px) {
	.o_form_view .o_form_sheet_bg >

	.o_form_sheet {
		max-width: 100% !important;
	}
}

.btn {
    margin: 0 3px;
}

.custom-loading-overlay {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-loading-spinner {
    border: 4px solid rgba(11,83,148, 0.5);
    border-radius: 50%;
    border-top: 4px solid rgb(11,83,148);
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Custom CSS to override Bootstrap styles */
.btn-outline-danger {
    color: #990000 !important; /* Change text color */
    border-color: #990000 !important; /* Change border color */
}

/* If you also want to change the hover and focus colors */
.btn-outline-danger:hover,
.btn-outline-danger:focus {
    color: #fff !important; /* Text color on hover/focus */
    background-color: #990000 !important; /* Background color on hover/focus */
    border-color: #990000 !important; /* Border color on hover/focus */
}
