h1 {
	font-family: 'Roboto condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 20mm auto 0mm auto
}

table tr td {
	border: 0px solid white;
	padding: 5px;
	font-family: 'Roboto condensed', sans-serif;
	font-size: 16px
}

.icd {
	margin: 20mm 0 0 0
}

.tb_subtitle {
	font-weight: bold;
	padding-right: 10px;
	border-right: 1px solid black !important;
}

.tb_txt {
	padding-left: 10px
}

.tb_chapter {
	border-top: 0px solid white !important;
	padding: 10px 0
}

.doctorperf {
	margin: 50px 0 0 200px
}

.doctordir {
	display: none
}

.costbearer {
	font-family: 'Roboto condensed', sans-serif;
	font-size: 15px
}

.page-break {
	page-break-after: always;
}