body {
	font-family: 'Arial', san-serif;
	font-size: 14px !important
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 0px solid white;
	margin: 10px 0;
	font-size: 14px !important
}

p {
	padding: 0px;
	margin: 0px;
}

td,
th {
	text-align: left;
	padding: 5px;
	font-size: 14px !important
}

span {
	font-size: 16px !important
}


.bordered {
	border: 1px solid black !important;
}

h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px auto 0px auto !important;
	padding: 5px;
	line-height: 2;
}

table tr td {
	border: 0px solid white;
	padding: 5px;
}

.tb_txt {
	padding-left: 5px;
	width: 70%
}

.tb_subtitle {
	padding-left: 5px;
	width: 30%
}

.tb_chapter {
	border-top: 0px solid white !important;
}

.dotClass::after {
	content: '.';
}